@tailwind base;
@tailwind components;
@tailwind utilities;
$main-color: #feba17;
$heading-color: #74512d;

.title {
  h1 {
    filter: drop-shadow(-1px 4px 0px $main-color);
  }
}
tbody {
  td {
    &.id {
      background-color: $heading-color;
      color: white;
    }
    &:not(.id) {
      border: 1px solid #74512d86;
    }
  }
}
@keyframes delete {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
